.leftMenuTitle{
    font-size: large;
    font-weight: bold;
}
.leftMenuSubTitle{
    font-size: large;
    font-weight: bold;
    margin-top: 8%;
}
.checkBoxLeftMargin{
    margin-left: 3%;
}
.property{
    font-weight: bold;
}
.value{
    margin-left: 2%;
}
.rowLeftMargin{
    margin-left: 1%;
}
.react-scrollable-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    overflow-y: scroll;
    border: #ddd solid 1px;
}
